<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
</head>
<body>
  <section>
    <form action="fetchTescoProducts(event)" method="get">

    </form>
  </section>

  <section>
    <form onsubmit="fetchTesco(event)">
      <input type="text" name="searchTerm" placeholder="..Search">
      <input type="submit" value="Search">
    </form>
    <div id="tesco-container"></div>
  </section>

  <script src="/javascripts/tesco/fetchTesco.js"></script>
</body>
</html>

