<body>
  <section>
    <form onsubmit="fetchTesco(event)">
      <input type="text" name="searchTerm" placeholder="..Search">
      <input type="submit" value="Search">
    </form>
    <div id="tesco-container">
      <!-- contains div with id tesco-results -->
    </div>
  </section>

  <script src="/javascripts/tesco/fetchTesco.js"></script>
</body>