<head>
  <title>Basket</title>
</head>

<body>
  <h1>My Basket:</h1>
  <div id="total"></div>
  <div id="my-basket"></div>

  <script src="javascripts/basket/fetchBasket.js"></script>
  <script src="javascripts/basket/basketIndex.js"></script>
  <script >
    displayBasket();
    updateTotal();
  </script>
</body>
