

<!-- ######### Footer starts ######### -->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">RACKET 2022 @Makers</li>
      </ul>
    </div>
  </div>
</nav>
<!-- ######### Footer ends ######### -->