<body>

    <h1>About Racket</h1>
    <h4>Racket allows users to track the price of everyday items - and compare those with what could be their future inflated prices!</h4>
    
    <ul>

        <h1>Useful links</h1>

        <li><a href="/">Goes to homepage</a></li>
                    <li><a href="/about">Goes to about page (here!)</a></li>

                    <li><a href="products/all">All Products</a></li>
                    <li><a href="products/search">Post request for a search query that allows the user to find products</a></li>
                    <li><a href="products/new">Page that allows user to create a product</a></li>
                    <li><a href="products/create">Post request to create a product</a></li>
                    <li><a href="products/:id">Gets the id of a specific product</a></li>

                    <li><a href="sessions/new">Creates a new user session</a></li>
                    <li><a href="sessions/">Post request to send the new session information</a></li>
                    <li><a href="sessions/delete">Deletes a user session</a></li>

                    <li><a href="users/new">Page to create new user</a></li>
                    <li><a href="users/">Post request that creates new user</a></li>

                    

                    <h1>Admin access only</h1>
                    <li><a href="admin/">Admin Home</a></li>
                    <li><a href="admin/tescoUrls">Tesco Urls</a></li>
                    <li><a href="admin/tescoObj">Tesco Objects</a></li>
                    <li><a href="admin/track">Track products</a></li>
                    <li><a href="admit/tracked">View tracked products</a></li>

    </ul>

</body>
</html>