<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1 class="title">Racket</h1>
  <h3>Welcome to Racket</h3>

  <p>Look at all these ridiculous prices!</p>
  <br>
  <a href="/users/new">
    <h3>Want to sign up to create a basket? Click here.</h3>
  </a>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



  <% products.forEach(product => { %>
   <h1><%= product.name %></h1>
   <canvas id="<%= product._id %> " width="400" height="400"></canvas>
  <% }) %>


  <%= createChart(product) %> 
  

</body>

</html>

