<title>Home</title>

<body>

<div class="flex-container">
<!-- ######### Inflation info starts ######### -->
  <div class="flex-child">
    <h3>What is inflation? &#128163</h3>
    <h4>And how is it calculated? &#128184</h4>
      <p>
        Imagine your shopping basket contains <b>10 items</b>. If those 10 items <b>all</b> go up in price by 10 percent, then the cost has been "inflated" by 10%.
        In actual fact, around <b>100,000</b> prices are found for roughly 520 items from all categories, across 150 locations in the UK.
        These are compared with the price of the same products from last year, and the percentage increase/decrease is calculated.
      </p>
    <h4>This is inflation! &#128293</h4>
      <p>
        Currently the rate of inflation is at 9.9%.
        <!-- would be nice if this number was collected from the inflationAPI.js -->
      </p>
    <h4>What does this mean for me? &#128585</h4>
      <p>
        This means that your hard-earned money can now buy 9.9% less of the same products as last year...
        <b>OR</b> your average shopping basket has increased in price by around 9.9%!
      </p>
  </div>
<!-- ######### Inflation info ends ######### -->


<!-- ######### Product graph starts ######### -->
  <div class="flex-child">
    <% if (product) { %>
      <p class="product-info">
          <canvas id="<%= product._id %>" width="500" height="400"> </canvas>
          Current price: £<%= product.prices.at(-1).price.toFixed(2) %><br />
          Next year this could rise to: <b>£<%= (((product.prices.at(-1).price.toFixed(2))*1.099).toFixed(2)) %>!</b>
      </p>
    <% } else { %>
      <h1>not found</h1>
    <% } %>
  </div>
  <!-- ######### Product graph ends ######### -->
</div>

</body>


<script src="/javascripts/chart.js"></script>
<script src="/javascripts/applyChart.js"></script>
<script>
  const product = <%- JSON.stringify(product) %> 
  applyChart(product)
</script>