<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="#" />
  </head>

<h1 class="title">Racket</h1>
<h3>Welcome to Racket</h3>

<p>Look at all these ridiculous prices!</p>
<br>
<a href="/users/new">
  <h3>Want to sign up to create a basket? Click here.</h3>
</a>

</html>

