<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css" />
    <title>Add a New Product</title>
</head>
<body>
    <form action="/new_product" class="form">
        <label for="name">Item name: </label>
        <input type="text" id="fname" name="fname"><br>

        <label for="price">Price: </label>
        <input type="number" name="" id=""><br>

        <label for="date">Bought on: </label>
        <input type="date" name="" id="">

        <input type="submit" value="Submit">
      </form>
</body>
</html>